  <head>
[% INCLUDE meta.inc -%]
    <title>[% view.title %]</title>
    <link href="[% view.data.css %]" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1>[% view.title %]</h1>
      <h2>[% view.data.header %]</h2>
    </div>
    <div id="menu">
[% INCLUDE $view.data.menu -%]
    </div>
    <div id="content">
[% INCLUDE $view.data.content -%]
    </div>
    <div id="footer">
[% INCLUDE $view.data.footer -%]
    </div>
  </body>
