Source: libscaffold-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl
Maintainer: Kevin L. Esteb <kevin@kesteb.us>
Standards-Version: 3.9.4
Homepage: http://scm.kesteb.us/trac

Package: libscaffold-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: A web frame work for building applications
 .
 Scaffold is a web frame for build web based application.
 .
 This package has the base modules needed by other packages.
