
body {
	margin: 0em;
	padding: 0em;
	font-family: "Courier New", Courier, monospace;
}

#header {
    height: 4em;
    width: 54em;
    margin-bottom: 10px;
}

#container {
    float: left;
    height: 26em;
    width: 54em;
    margin-bottom: 10px;
}

#menu {
    float: left;
    height: 26em;
    width: 11em;
    margin-bottom: 10px;
}

#content {
    float: left;
    height: 26em;
    width: 41em;
    margin-bottom: 10px;
}

#footer {
    clear: both;
    height: 1em;
    width: 54em;
    margin-bottom: 10px;
}

